name: ESLint JSON

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  main:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/install

      - name: Lint
        run: pnpm run lint