name: ESLint JSON

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]


jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install
      - run: pnpm run lint
        