name: Validate Tokens

on:
  pull_request_target:
    types: [opened, edited, synchronize, reopened]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install
      - name: Validate
        run: pnpm run test