name: Validate Tokens

on:
  pull_request:
    types: [opened, edited, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install
      - run: pnpm run test
