name: Validate Tokens

on: pull_request_target

jobs:
  validate:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/install
      - name: Validate
        run: pnpm run test